
body {
  color:#011526;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: #F2F2EB; 
}
hr {
  width: 10%;
  border-top: 6px dotted #012523;
  margin-top: 20%;
  margin-bottom: 20%;
}

/* Navigation */
#toggler {
  display: none;
}
.nav-container {
  list-style: none;
  color: #011526;
}
.nav-btn {
  text-decoration: none;
  color:#011526;
}
.nav-btn:visited {
  color:#011526;
}

/* Landing Page */
.background-design {
  background-image: url("../images/Test 2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #012523;
  background-size: cover;
  /* height: 100vh; */
  padding-top: 5%;
  overflow: hidden;
} 

/* About Me  */
.icons {
  color: #F26D78;
  margin: 12px;
}
.name{
  width: 100%;
}
.sub-aboutme {
  margin-bottom: 5px;
  padding-top: 3%;
}
.about-paragraph{
  margin-top: 5px;
}
/* Projects */
.card-container {
  display: flex;
  list-style: none;
  margin-left: 4.5%;
}
.card {
  background-color: #ffffff;
  margin: 30px; 
  height: 400px;
  border-radius: 20px;
  width: 230px;
  box-shadow: 10px 10px 10px 0px rgba(199,195,198,1);
  align-self: center;
}
.project-img {
width: 94%;
height: 40%;
margin-left: 7px;
margin-top: 80px;
}
.card-title {
  text-align: center;
  font-size: 20px;
 
}
.btn {
  margin: 2%;
}
.code-btn {
  background-color: #ffffff;
  border: 2px solid #F26D78;
  color:#F26D78;
  border-radius: 2px;
  font-size: 16px;
  width: 30%;
  margin-left: 13%;
  
}
.live-btn {
  background-color: #ffffff;
  border: 2px solid #0f3e02;
  color: #0f3e02;
  font-size: 16px;
  border-radius: 2px;
  width: 30%;
  margin-left: 11%;
}

/* Skills */
.skills-title {
  text-align: center;
  margin-right: 7%;
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 40px ;
}
.skills-list {
  justify-items: center;
  list-style-type: none;
  
}
.skills-icons {
  color: #F26D78;
  width: 40%;
}
.container-skills {
  margin-bottom: 5px;
}

/* Contact Me  */
.contact-me {
  background-color: #C8D8B1;
  box-shadow: 10px 10px 5px 0px rgba(143,153,128,1);
  padding: 5%;
  text-align: center;
  font-size: 24px;
  width: 80%;
  margin-left: 5%;
  border-radius: 10px;
}
.cta-btn {
  text-decoration: none;
  margin-bottom: 2px;
  color: #0F3E01;
  border: 3px solid #0F3E01;
  border-radius: 4px;
  padding: 10px
}

.footer {
  padding-top: 5%;
}

.footer p {
  margin: 0px;
}
/* Mobile View  600 has a horizontal scroll that needs to be fixed*/

@media(max-width: 600px) {
  .background-design {
    background-color:ivory;
    height:350px;
    margin: 0px;
    width: 100%;
  }
  /* Navigation */
  .nav-container {
    margin: 0px;
    margin-left: 50%;
    color: #ffffff;
    
  }
  .nav-container {
    max-height: 0px;
    overflow: hidden;
  }
  .nav-container:visited {
    color:#F26D78;
  }

  .nav-container {
    text-decoration: none;
    color: #ffffff;
  }
  #toggler:checked ~ .nav-container{
    max-height: 240px;
    
  }
  #hamburger,
  #hamburger::before,
  #hamburger::after {
    display: block;
    height: 4px;
    width: 35px;
    background-color: #F26D78;
    
  }
  #hamburger {
    position: relative;
    margin-top: 20px;
    float: right;
    margin-right: 10px;
  }
  #hamburger::before,
  #hamburger::after {
    position: absolute;
    content: "";
  }
  #hamburger::before {
    top: -9px;
  }
  #hamburger::after {
    top: 9px;
  }
  #toggler {
    display: none;
  }
  #toggler:checked ~ label #hamburger {
    background: transparent;
  }
  #toggler:checked ~ label #hamburger::before {
    transform: rotate(-45deg);
    top: 0;
  }
  #toggler:checked ~ label #hamburger::after {
    transform: rotate(45deg);
    top: 0;
  }
  /* Landing Page */
  .intro-elise {
    padding-top: 21%;
    margin: 10px;
    color: #ffffff;
    text-align: center;
  }
  .my-title {
   margin-bottom: 30px;
  }

  /* About Me */
  /* .intro-elise {
    margin: 10px;
  } */
  
  #about-me {
    margin-top: 20%;
  }
  .icons {
    margin-bottom: 50%;
  }
  .column {
    float: left;
  }
  .left {
    width:10%;
    margin-top: 10%;
    margin-left: 5%;
  }
  .middle{
    width: 70%;
    margin-left: 10%;
    margin-top: 5%;
  }
  .right {
    display: none;
  }
  .row:after {
    content: " ";
    display: table;
    clear: both;
  }

  /* Skills */
  ul.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    row-gap: 40px ;
    width: 80%;
  }
  /* Projects */
  .card-container {
    display: flex;
    flex-direction: column;
    
  }
  .card {
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
    border-radius: 20px;
    width: 230px;
    box-shadow: 10px 10px 10px 0px rgba(199,195,198,1);
    align-self: center;
  }
  .project-img {
    width: 94%;
    height: 40%;
    margin-left: 7px;
    margin-top: 80px;
  }
  .card-title {
    text-align: center;
    font-size: 20px;
  }
  .btn {
    margin: 2%;
  }
  .code-btn {
    background-color: #ffffff;
    border: 2px solid #F26D78;
    color:#F26D78;
    border-radius: 2px;
    font-size: 16px;
    width: 30%;
    margin-left: 13%;
    
  }
  .live-btn {
    background-color: #ffffff;
    border: 2px solid #0f3e02;
    color: #0f3e02;
    font-size: 16px;
    border-radius: 2px;
    width: 30%;
    margin-left: 11%;
    
  }
  
} 
@media(min-width: 601px) and (max-width: 783px) {
  /* About Me  */
  .illustration {
    width: 365px;
  }
  /* Skills */
  ul.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
  /* Projects */
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .left {
    padding: 0px;
    
  }
  .middle {
    width: 30%;
    padding: 0px;
  }
  .right {
    margin-left: 0px;
  }
}

@media (min-width:784px) and (max-width:1100px)  {
  /* About Me */
  .illustration {
    width: 365px;
  }

  /* Skills */
  ul.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    place-items: center;
  }
  /* Projects */
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


}

@media (min-width: 601px) {

  #toggler {
    display: none;
  }
  .background-design {
    background-color: #0f3e02;
    height: 100vh;
    padding-top: 5%;
    overflow: hidden;
  } 
  .nav-container {
    margin: 0px;
    padding-top: 45px;
    padding-right: 45px;
    background-color: #F2F2EB;
    color: #011526;
    display: flex;
    justify-content: flex-end;
    font-family: 'Josefin Sans', sans-serif;

    height: 55px;
    width: 34%;
    padding-top: 45px;
    border-radius: 48px;
    margin-left: 56%;
    box-shadow: 10px 10px 16px 0px rgba(8,36,20,1);
  }

  .nav-btn {
    margin-right: 45px;
    padding: 12px;
  }
  
  .nav-container .nav-btn:hover {
    border-bottom: 4px dotted #F26D78;
  }
  .resume-btn {
    text-decoration: none;
    margin-bottom: 2px;
    color: #F26D78;
    border: 3px solid #F26D78;
    border-radius: 4px;
    padding: 10px
  }
  .intro-elise {
    margin-top: 15%;
    background-color: #F2F2EB;
    height: 35%;
    margin-right: 30%;
    text-align: center;
    border-top-right-radius: 115px;
    border-bottom-right-radius: 115px;
    box-shadow: 10px 10px 16px 0px rgba(8,36,20,1);
  
  }
  .intro-name {
    font-size: 50px;
    margin-bottom: 0px;
    padding-top: 65px;
    
  }
  .my-title {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .sub-title {
    margin-top: 0px;
  } 

  #about-me {
    margin: 13% 0%;
    color: #011526;
  
  }
  #about-me::after {
    margin-top: 3%;
  }

  .row:after {
    content: " ";
    display: table;
    clear: both;
  }

  .column {
    float: left;
  }

  .left {
    width:2%;
    padding: 10px;
    margin-left: 2%;
  }
  .middle{
    width: 35%;
    margin-left: 5%;
  }

  .right {
    width: 45%;
    margin-left: 7%;
  }
  .illustration {
    height: 300px;
  
  }
  .my-name {
    font-size: 50px;
  }

  .icons {
    color: #F26D78;
    margin: 12px;
 }
  .skills-title {
    text-align: center;
    margin-right: 7%;
  }
  ul.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
  .skills-list {
    list-style: none;
    
  }
  
  .skills-icons {
    color: #F26D78;
    
  
  }
  
  .container-skills {
    margin-bottom: 5px;
  }
  
}

